<div class="coin-display-header">
  <h3>{{coinDataRaw?.name}}:</h3>
  <h3>{{coinDataRaw?.lastUpdated}}</h3>
</div>
<table>
  <thead>
  <tr>
    <th *ngFor="let key of coinDataRaw?.data?.getpoolstatus?.data | objectToArray; let i = index;">
      <span *ngIf="i > 0">{{key}}</span>
    </th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td *ngFor="let key of coinDataRaw?.data?.getpoolstatus?.data | objectToArray; let i = index">
      <span *ngIf="i > 0">{{coinDataRaw?.data?.getpoolstatus?.data[key]}}</span>
    </td>
  </tr>
  </tbody>
</table>
